body {
    text-align: center;
    background-color: #000f08;
    margin: 2 px;
    font-family: 'Open Sans', sans-serif; 
  }

.container
{
text-align: justify;
color: white;

}

.azul {
  text-align: center;
   background-color: rgb(78, 248, 234);
   color: white
}

.parrafo
{
  text-align: justify;
  color: white;
}


.carrusel
{
  text-align: right;
  color: white;
}

footer {
  padding: 3.125rem;
}

.divisor
{
  color: white;
  border-top: 1px solid white;
}